notebooks/sirch_json_1.txt
notebooks/sirch_json_1m.txt
notebooks/sirch_json_2.txt
notebooks/sirch_json_2m.txt
notebooks/sirch_json_3.txt
notebooks/sirch_json_3m.txt
notebooks/sirch_json_4.txt
notebooks/sirch_json_5.txt
notebooks/sirch_json_5m.txt
notebooks/.ipynb_checkpoints/data-checkpoint.csv
notebooks/test_2.ipynb
notebooks/test_3.ipynb
notebooks/.ipynb_checkpoints/sirch_json_1-checkpoint.txt
notebooks/.ipynb_checkpoints/sirch_json-checkpoint.txt
notebooks/.ipynb_checkpoints/test_2-checkpoint.ipynb
notebooks/.ipynb_checkpoints/test_3-checkpoint.ipynb
